body {
    font-family: system-ui;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 24px;
}
a {
    color: inherit;
}
.header__right-side,
.header__left-side {
    display: flex;
    align-items: center;
    gap: 30px
}
.header__input-search {
    width: 600px;
    height: 44px;
    padding-left: 16px;
    padding-right: 38px;
    /* border-radius: 8px; */
    background-color: #e0e0e287;
    border: 1px solid #9e9e9e00;
}
.header__input-search::placeholder {
    color: #81858b;
    font-family: system-ui;
    font-weight: 500px;
}
.header__search-box {
    width: 600px;
    position: relative;
}
.header__search-icon {
    position: absolute;
    top: 16px;
    right: 16px;
}
.header__search-data {
    width: 656px;
    height: 230px;
    overflow: auto;
    background-color: #e0e0e287;
    position: absolute;
    display: none;
}
.header__search-data p {
    padding: 10px;
    padding-right: 16px;
}
.header__search-data p:hover {
    background-color: #b9b9c34f;
   
}
.header__input-search:focus-visible {
    /* border-radius: 8px 8px 0 0; */
    border: none;
    outline: none;
}
.header__profile a {
    color: black;
}
.header__profile .dropdown-menu {
    box-shadow: 0 1px 1px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.3);
    border: none;
}
